colorama==0.4.1
Django==2.2.21
django-appconf==1.0.3
django-bootstrap-datepicker-plus==3.0.5
django-bootstrap3==11.1.0
django-extensions==2.2.5
django-select2==7.1.1
django-widget-tweaks==1.4.5
entrypoints==0.3
flake8==3.7.9
flake8-polyfill==1.0.2
future==0.18.2
graphviz==0.13.2
mando==0.6.4
mccabe==0.6.1
mysqlclient==1.4.5
Pillow==6.2.1
pycodestyle==2.5.0
pydot==1.4.1
pydotplus==2.0.2
pyflakes==2.1.1
PyMySQL==0.9.3
pyparsing==2.4.5
pytz==2019.3
radon==4.0.0
six==1.13.0
sqlparse==0.3.0
