{% extends 'base.html' %}


{% load staticfiles %}
{% load widget_tweaks %}
{% block breadcrumb %}
    <div class="page-header-content">
        <div class="page-title">
            <h5>
                <i class="icon-circle position-left"></i> <span class="text-semibold">Dokumen Baru</span>

                {#                <small class="display-block">Basic breadcrumb inside page header</small>#}
            </h5>
        </div>

        <div class="heading-elements">
            <ul class="breadcrumb heading-text">
                <li><a href="{% url 'dokumen:dashboard' %}"><i class="icon-home2 position-left"></i> Home</a></li>
                <li class="active"><a href="{% url 'dokumen:buat-dokumen' %}">Buat Dokumen</a></li>
                {#                <li class="active">Location</li>#}
            </ul>
        </div>
    </div>
{% endblock %}
{% block content %}
    <div class="content-wrapper">

        <!-- Sidebars overview -->
        <div class="panel panel-success ">
            <div class="panel-heading">
                <h5 class="panel-title">Dokumen Baru</h5>
                <div class="heading-elements">
                    <ul class="icons-list">
                        <li><a data-action="collapse"></a></li>
                        <li><a data-action="reload"></a></li>
                        <li><a data-action="close"></a></li>
                    </ul>
                </div>
            </div>

            <div class="panel-body">
                {#content#}
                <form method="post" action="" enctype="multipart/form-data">

                    {% for hidden in form.hidden_fields %}
                        {{ hidden }}
                    {% endfor %}
                    {% csrf_token %}
                    {% for field in form.visible_fields %}
                        <fieldset class="content-group">
                            <div class="form-group">

                                <label class="control-label col-lg-2">{{ field.label }}</label>
                                <div class="col-lg-10">
                                    {% for error in field.errors %}
                                        <div class="form-control-feedback">{{ error }}</div>
                                    {% endfor %}
                                    {{ field |add_class:'form-control' }}
                                </div>
                            </div>
                        </fieldset>
                    {% endfor %}
                    {#add ckeditor#}
{#                    <div class="content-group">#}
{#								<textarea name="editor-full" id="editor-full" rows="4" cols="4">#}
{#                                </textarea>#}
{#                    </div>#}
                    <br>
                    <br>
                    <div class="col-lg-12 text-right">
                        <label class="display-block text-semibold">
                            <button type="submit" class="btn bg-blue">
                                Submit
                                <i class="glyphicon glyphicon-tasasition-right"></i></button>
                        </label>
                    </div>
                </form>
            </div>
        </div>

        <!-- /sidebar classes -->

    </div>


{% endblock %}

{% block costum_js %}
    <script type="text/javascript" src="{% static 'js/pages/picker_date.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/plugins/notifications/jgrowl.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/plugins/ui/moment/moment.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/plugins/forms/selects/select2.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/plugins/forms/styling/uniform.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/pages/form_layouts.js' %}"></script>
    {#    add ckeditor#}
{#    <script src="https://cdn.ckeditor.com/4.8.0/full-all/ckeditor.js"></script>#}
{#    <script type="text/javascript" src="{% static 'ckeditor/ckeditor.js' %} "></script>#}
{#    <script type="text/javascript" src="{% static '/js/pages/editor_ckeditor.js' %}"></script>#}
    <script type="text/javascript">
        $(function () {
            $("#datepicker").datepicker({
                changeMonth: true,
                changeYear: true,
                dateFormat: 'yy-mm-dd'
            });
        });
    </script>
    <script>
        $(document).ready(function () {
            $('.js-example-basic-multiple').select2();
        });
    </script>
{#    ckeditor#}
    <script src="https://cdn.ckeditor.com/4.8.0/full-all/ckeditor.js"></script>
    <script>
    CKEDITOR.replace( 'editor1', {
		// Define the toolbar: https://ckeditor.com/docs/ckeditor4/latest/features/toolbar.html
		// The full preset from CDN which we used as a base provides more features than we need.
		// Also by default it comes with a 3-line toolbar. Here we put all buttons in a single row.
		toolbar: [
			{ name: 'document', items: [ 'Print' ] },
			{ name: 'clipboard', items: [ 'Undo', 'Redo' ] },
			{ name: 'styles', items: [ 'Format', 'Font', 'FontSize' ] },
			{ name: 'basicstyles', items: [ 'Bold', 'Italic', 'Underline', 'Strike', 'RemoveFormat', 'CopyFormatting' ] },
			{ name: 'colors', items: [ 'TextColor', 'BGColor' ] },
			{ name: 'align', items: [ 'JustifyLeft', 'JustifyCenter', 'JustifyRight', 'JustifyBlock' ] },
			{ name: 'links', items: [ 'Link', 'Unlink' ] },
			{ name: 'paragraph', items: [ 'NumberedList', 'BulletedList', '-', 'Outdent', 'Indent', '-', 'Blockquote' ] },
			{ name: 'insert', items: [ 'Image', 'Table' ] },
			{ name: 'tools', items: [ 'Maximize' ] },
			{ name: 'editing', items: [ 'Scayt' ] }
		],

		// Since we define all configuration options here, let's instruct CKEditor to not load config.js which it does by default.
		// One HTTP request less will result in a faster startup time.
		// For more information check https://ckeditor.com/docs/ckeditor4/latest/api/CKEDITOR_config.html#cfg-customConfig
		customConfig: '',

		// Sometimes applications that convert HTML to PDF prefer setting image width through attributes instead of CSS styles.
		// For more information check:
		//  - About Advanced Content Filter: https://ckeditor.com/docs/ckeditor4/latest/guide/dev_advanced_content_filter.html
		//  - About Disallowed Content: https://ckeditor.com/docs/ckeditor4/latest/guide/dev_disallowed_content.html
		//  - About Allowed Content: https://ckeditor.com/docs/ckeditor4/latest/guide/dev_allowed_content_rules.html
		disallowedContent: 'img{width,height,float}',
		extraAllowedContent: 'img[width,height,align]',

		// Enabling extra plugins, available in the full-all preset: https://ckeditor.com/cke4/presets-all
		extraPlugins: 'tableresize,uploadimage,uploadfile',

		/*********************** File management support ***********************/
		// In order to turn on support for file uploads, CKEditor has to be configured to use some server side
		// solution with file upload/management capabilities, like for example CKFinder.
		// For more information see https://ckeditor.com/docs/ckeditor4/latest/guide/dev_ckfinder_integration.html

		// Uncomment and correct these lines after you setup your local CKFinder instance.
		// filebrowserBrowseUrl: 'http://example.com/ckfinder/ckfinder.html',
		// filebrowserUploadUrl: 'http://example.com/ckfinder/core/connector/php/connector.php?command=QuickUpload&type=Files',
		/*********************** File management support ***********************/

		// Make the editing area bigger than default.
		height: 800,

		// An array of stylesheets to style the WYSIWYG area.
		// Note: it is recommended to keep your own styles in a separate file in order to make future updates painless.
		contentsCss: [ 'https://cdn.ckeditor.com/4.8.0/full-all/contents.css', 'mystyles.css' ],

		// This is optional, but will let us define multiple different styles for multiple editors using the same CSS file.
		bodyClass: 'document-editor',

		// Reduce the list of block elements listed in the Format dropdown to the most commonly used.
		format_tags: 'p;h1;h2;h3;pre',

		// Simplify the Image and Link dialog windows. The "Advanced" tab is not needed in most cases.
		removeDialogTabs: 'image:advanced;link:advanced',

		// Define the list of styles which should be available in the Styles dropdown list.
		// If the "class" attribute is used to style an element, make sure to define the style for the class in "mystyles.css"
		// (and on your website so that it rendered in the same way).
		// Note: by default CKEditor looks for styles.js file. Defining stylesSet inline (as below) stops CKEditor from loading
		// that file, which means one HTTP request less (and a faster startup).
		// For more information see https://ckeditor.com/docs/ckeditor4/latest/features/styles.html
		stylesSet: [
			/* Inline Styles */
			{ name: 'Marker', element: 'span', attributes: { 'class': 'marker' } },
			{ name: 'Cited Work', element: 'cite' },
			{ name: 'Inline Quotation', element: 'q' },

			/* Object Styles */
			{
				name: 'Special Container',
				element: 'div',
				styles: {
					padding: '5px 10px',
					background: '#eee',
					border: '1px solid #ccc'
				}
			},
			{
				name: 'Compact table',
				element: 'table',
				attributes: {
					cellpadding: '5',
					cellspacing: '0',
					border: '1',
					bordercolor: '#ccc'
				},
				styles: {
					'border-collapse': 'collapse'
				}
			},
			{ name: 'Borderless Table', element: 'table', styles: { 'border-style': 'hidden', 'background-color': '#E6E6FA' } },
			{ name: 'Square Bulleted List', element: 'ul', styles: { 'list-style-type': 'square' } }
		]
	} );
    </script>
    {{ form.media }}
    {#    <script src="{% static 'django_select2/django_select2.js' %}"></script>#}
    {#    {{ form.media.js }}#}
{% endblock %}
{% block costum_css %}
    {#    {{ form.media.css }}#}
{% endblock %}